
.card {
    position: relative;
    width: 250px;
    font-size: 12px;
    margin: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card .thumb {
    border-radius: 7px;
    height: 350px;
    width: 100%;
}

.card--stats{
    display: flex;
    align-items: center;
}

.grey{
    color: rgb(107, 105, 105);
}

.bold{
    font-weight: bold;
}
.card-para{
    margin: 15px;
}

.card-badge{
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}