section {
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
}
.hero--photo {
  max-width: 100%;
  align-self: center;
}

.hero--title {
  margin-bottom: 16px;
}

.hero--text {
  margin-top: 0px;
}
